@import '../../../../mixin';
@import '../../../../App';

.order_edit_sp {
  @include flex_box();
  @include flex_direction_column();
  height: 100%;
  
  .page_body_header {
    .bottom_border_button {
      width: calc(100% / 2);
      margin: 0 5px;
    }
  }

  &__body {
    @include scroll_display_none();
    flex: 1;
    overflow-y: scroll;
  }
}