@import '../../../../../App.scss';
@import '../../../../../mixin.scss';

.sendPasswordCompleteSP {
  text-align: center;
  padding: 0 35px;
  @include flex_box();
  @include flex_align_center();
  @include flex_content_center();
  height: 100%;
  &__title {
    font-size: 20px;
    margin-top: 80px;
  }
  &__body {
    margin-top: 60px;
    &__inner {
      &__text{
        text-align: left;
      }
      .btn {
        width: 140px;
        margin-top: 60px;
      }
    }
  }
}
