@import "../../../../mixin";
@import "../../../../App";

.file_detail_sp {

  &__body{
    &__table {
      .t_row {
        .t_header {
          width: 38vw !important;
          max-width: 9.5em !important;
        }
      }
    }
  }
  &__footer {
    .btn {
      flex: 1;
      + .btn {
        margin-left: 10px;
      }
    }
  }
}
